<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CheckList</title>
    <style>
        .text1{
            font: 14pt sans-serif;
        }
        TABLE {
            width: 100%; 
        }
        TD {
            vertical-align: top;
        }
        #col1 {
            width: 600px;
        }
        #col2 {
        }
        #col3 {
            width: 600px;
        }
    </style>
</head>
<body>
    <h1 align="center" th:text="${pageName}" style="color: blueviolet"></h1>
    <table>
        <tr>
            <td id="col1"></td>
            <td id="col2" align="center" class="text1">
                <fieldset>
                <div class="row article" align="left" th:each="point : ${checkList}" >
                    <div>
                        <form th:action="${'delete/' + point.itemName}" method="post">
                            <input type="checkbox" th:id="${point.itemName}" th:name="${point.itemName}">
                            <label name="text" th:for="${point.itemName}" th:text="${point.itemName}">Point</label>
                            <input type="submit" value="✖">
                        </form>
                    </div>
                    <br>
                </div>
                </fieldset>
                <br>
                <div>
                    <input type="button" class="text1" value="Добавить" onClick='location.href="/add"'>
                </div>

            </td>
            <td id="col3"></td>
        </tr>
    </table>
</body>
</html>